<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResServiceUrl" value="http://0.0.0.0:3328/" />
    <add key="GmtServiceUrl" value="http://0.0.0.0:8089/" />
    <add key="YYBVersion" value="1.1.1" />
    <add key="DataPath" value="data.{0}.bytes" />
    <add key="DefaultKey" value="default" />
    <add key="Debug" value="true" />

  </appSettings>
</configuration>